<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/add.css">
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
    <title><%= title %></title>
  </head>
  <body class="container">
    <%- include('header'); %>
    <div class="main">
      <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet' type='text/css'>
      <link href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
      <div id="content">
        <h2>新しい猫さんの登録をしましょう</h2>
          <form action="/add/post" method="post"  id="form" class="topBefore">
              <p>
                  <label for="name">猫さんの名前</label>
                  <input type="text" name="name" id="name">
              </p>
              <p>
                <label for="neko_picture">猫さんの写真</label>
                <input type="text" name="neko_picture" id="neko_picture">
              </p>
              <p>
                <label for="user_id">ユーザー</label>
                <input type="text" name="user_id" id="user_id">
              </p>

              <p>
                  <label for="age">猫さんの年齢</label>
                  <input type="age" name="age" id="age">
              </p>

              <p>
                  <label for="food">ごはん</label>
                  <input type="text" name="food" id="food" placeholder="">
              </p>

              <p>
                  <label for="personality">性格</label>
                  <input type="text" name="personality" id="personality">
              </p>

              <p>
                  <label for="favoriteToys"></label>おもちゃ</label>
                  <input type="text" name="favoriteToys" id="favoriteToys">
              </p>

              <p>
                <label for="favoriteSnack">おやつ</label>
                <input type="text" name="favoriteSnack" id="favoriteSnack" value="">
              </p>

              <p>
                <label for="submit"></label>
                <input id="submit" type="submit" value=" 送信 ">
              </p>

          </form>
      </div>
    </div>
    <%- include('footer'); %>
  </body>
</html>