<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>ボード</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
  </head>
  <body class="container">
      <!--<%- include('header'); %>
      <div class="container-login">
        <div class="panel">
          <h1>ボー＾ド</h1>
            <form action="/login/post" method="post">
              <div class="form-group">
                <input type="text" name="username" id="username" value="" class="form-control" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="text" name="email" id="email" value="" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" name="password" id="password" value="" class="form-control" placeholder="Password">
              </div>
              <div>
                <input type="submit" value="ログインする">
              </div>
          </form>
        </div>
      </div>
    <%- include('footer'); %>-->
  </body>
</html>