<footer>
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">
      <div class="footer-nav">
        <p><small>&copy; 2022 NEKO INDEX </small></p>
    </div>
</footer>