<header>
  <link rel="stylesheet" href="/stylesheets/header.css">
    <div class="header-nav">
      <h1><a href="/">NEKO INDEX</a></h1>
      <p>ようこそ、<%= locals.username %>さん</p>
      <div class="button03">
        <a href="../other">猫さん一覧</a>
        <a href="../login">ログインする</a>
      </div>
      <p>にゃんこ大先生('ω')</p>
    </div>
  </header>