<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/index.css">
        <title></title>
    </head>
    <body class="container">
        <%- include('header'); %>
        <div class="main2">
            <p>かなかな</p>
            <p><h2>はじまりのページ</h2></p>
            <div>
                <img src="/images/neko.png" alt="現場猫">
            </div>
            <div>
             <h3><a href="../signup" class="hover9">!!('ω')新規登録しよう('ω')!!</a></h3>
            </div>
        </div>
    </body>
</html>