<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NEKO INDEX</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>
  <body>
    <div class="sign">
      <%- include('header'); %>
      <div class="container-login">
        <div class="panel">
          <h2>ログイン画面</h2>
          <p></p>
          <form action="/login/post" method="post">
            <div class="form-group">
              <label for="name">ユーザー名</label>
              <input type="text" name="name" id="name" value="" class="form-control">
            </div>
            <div class="form-group">
              <label for="email">メールアドレス</label>
              <input type="text" name="email" id="email" value="" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">パスワード</label>
              <input type="password" name="password" id="password" value="" class="form-control">
            </div>
            <div>
              <input type="submit" value="ログイン">
            </div>
          </form>
            <a href="../index" class="btn btn-malformation btn-malformation--pastel">おうち</a>
        </div>
      </div>
    </div>
  </body>
</html>