<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/neko.css">
        <title></title>
    </head>
    <body class="container">
        <%- include('header'); %>
        <div class="main2">
            <p><h2>NEKO INDEX</h2></p>
            <div class="cat">
                <a href="#">猫の生態について</a>
                <a href="#">保護猫について</a>
                <a href="#">危険な食べ物</a>
                <a href="#">好きな場所</a>
                <a href="#">猫と人の年齢</a>
                <a href="#">猫の体のしくみ</a>
                <a href="#">飼い主への愛情表現</a>
                <a href="#">トイレのあれこれ</a>
                <a href="#">鳴き声について</a>
        <br>
        <%- include('footer'); %>
    </body>
</html>