<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/neko.css">
        <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
        <title>ねこ</title>
    </head>
    <body class="container">
        <%- include('header'); %>
        <div class="boke">
            <p class="boke1">NEKO INDEX</p>
        </div>
        <div class="cat">
          <a href="#">猫の生態について</a>
          <a href="#">保護猫について</a>
          <a href="#">トイレのあれこれ</a>
          <a href="#">猫の愛情表現</a>
          <a href="#">飼い主との関係</a>
          <a href="#">鳴き声の種類</a>
          <a href="#">猫と人間の年齢</a>
          <a href="#">あれやこれや</a>
          <a href="#">ほれほれ</a>
          <a href="#">現場猫</a>
    <a href="#">うんたらかんたら</a>
        </div>
            <div class="management_container">
        </div>
        <%- include('footer'); %>
    </body>
</html>