<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/stylesheets/other-management.css">
        <title><%= title %></title>
    </head>
    <div class="container1">
        <header>
            <h1>詳しいページ</h1>
        </header>
        <div class="main">
            <p>猫さんの詳細ページです</p>
        </div>
    </div>
    <body>
        <form action="/other-management" method="post">
            <div class="inputs">
                <label for="name" class="label">猫さんの名前</label>
                <input type="text" class="input_form" id="name" name="name">
            </div>
            <div class="inputs">
                <label for="age" class="label">年齢</label>
                <input type="text" class="input_form" id="age" name="age">
            </div>
            <div class="inputs">
                <label for="personality" class="label">猫さんの性格</label>
                <textarea id="personality" class="input_form" name="personality"></textarea>
            </div>
            <div class="inputs">
                <label for="food" class="label">いつものご飯</label>
                <input type="text" class="input_form" id="food" name="food">
            </div>
            <div class="inputs">
                <label for="favoriteToys" class="label">好きなおもちゃ</label>
                <input type="text" class="input_form" id="favoriteToys" name="favoriteToys">
            </div>
            <div class="inputs">
                <label for="favoriteSnack" class="label">好きなおやつ</label>
                <input type="text" class="input_form" id="favoriteSnack" name="favoriteSnack">
            </div>
            <div class="btn-area">
                <input type="submit" value="送信する">
            </div>
        </form>
    </body>
    <div>
        <a href="../hello">家に戻る</a>
    </div>
</html>