@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');

.container {
  background-image: url('/images/1.jpg');
  height: 100%;
}
.main2 {
    font-size: 18px;
    font-family: 'IM Fell DW Pica SC', serif;
    color: #550000;
}

.cat h1 {
    color:#550000;
  margin-top: 8px;
  margin-left: 10px;
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 30px;
}

textarea {
    width: 80%; /* 幅 */
    margin: 1em 0; /* 周囲の余白 */
    padding: 0.5em; /* 枠線内の余白 */
    font-size: 1em; /* フォントサイズ */
    border: solid 2px #e1e3e8; /* 枠線のスタイル */
    border-radius: 4px; /* 角丸に */
    resize: none; /* リサイズ不可に */
  }
  /* フォーカス時のスタイル */
  textarea:focus {
    border-color: #519e55;
    outline: 0;
  }
