@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');

header {
  background-image: url('/images/pnk3.jpg');
  font-family: "Hannari";
  }

  header > p {
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 36px;
    font-weight: bold;
    padding: 40px 0 80px;
  }

  header > p:after {
    position: absolute;
    content: "";
    display: block;
    width: 148px;
    height: 136px;
    bottom: -16px;
    right: -10px;
    background-size: 148px 136px;
    background-repeat: no-repeat;
  }
  .header-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    min-width: 700px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    height: 80px;
  }
  .iina {
    color: #8B0000;
    font-family: 'Amatic SC', cursive;
    font-family: 'Caveat', cursive;
    font-size: 43px;
    font-weight: bold;
  }
  .header-nav p {
    padding-left: 30px;
    font-size: 15px;
    color:#FF82B2;
    font-weight: bold;
    word-wrap: break-word;
    opacity: 0.7;
    flex: 1;
  }
  .heading {
    font-size: 30px;
  }
  .header-nav a {
    color: brown;
  }
.button03{
  font-size: 13px;
  font-family: 'IM Fell DW Pica SC', serif;
}
.Button-style {
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  padding: 0.5em 1em 0.3em;
  color: #AA0000;
  border: none;
  border-radius: 5px;
  background-color: #ffcccc;
  background-size: 10px 10px;
  background-image: radial-gradient(#f8a7b1 15%, transparent 20%),
  radial-gradient(#f8a7b1 15%, transparent 20%);
  background-position: 0 0, 15px 15px;
  font-family: 'IM Fell DW Pica SC', serif;
}

.Button-style:hover {
  color: #AA0000;
  background-color: #ffe6e6;
  background-image: radial-gradient(#f8a7b1 15%, transparent 20%),
  radial-gradient(#f8a7b1 15%, transparent 20%);
  background-position: 0 0, 15px 15px;
}
.username {
  color: #8B0000;
}