@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');

.container {
  background-image: url('/images/1.jpg');
  height: 100%;
}
.main2 {
    font-size: 18px;
    font-family: 'IM Fell DW Pica SC', serif;
    color: #550000;
}
.cat a{
    display: block;
    font-family: "Hannari";
    font-size: 16px;
    margin-left: 20px;
    margin-top: 3px;
    padding: 2px;
}
.boke {
  background-image:url('/images/b.jpg');
  height: 58px;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 10px;
}
.boke1 {
  color: white;
  margin-top: 8px;
  margin-left: 10px;
  font-family: 'IM Fell DW Pica SC', serif;
  font-size: 28px;
}


