<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Corben:700" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/board.css">
    </head>
    <title>掲示板</title>
    <body class="container">
        <div class="cat">
            <h1>Message board</h1>
        </div>
        <div class="container1">
            <form action="/post" method="#">
                <textarea name="kansou" rows="8" cols="120"></textarea><br>
                <input type="submit" value="送信">

            </form>
        </div>
    </body>
</html>
